
.container {
  font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top: 8vh;  
    width: 40rem;
    width: 85vw;
    height: 85vh;
    max-height: 95%;
    max-width: 95%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    direction: rtl;
    display: grid;
    margin:  auto;
    }    
    .div1_container { grid-area: 1 / 2 / 2 / 4; }
    .div2_container { grid-area: 2 / 1 / 7 / 5; }

    .div1_container__title{
        text-align: center;
        border-bottom: 2px dotted black;
    }

    .form_input{
      width: 90%;
      margin:0 auto;
      text-align: center;
    }
    .parent_form {
      display: grid;
      direction: ltr;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      margin: auto;
      max-width: 100%;
      overflow: hidden;
      }
      
      .div1_form {  grid-area: 1 / 3 / 3 / 4; }
      .div2_form {  grid-area: 1 / 2 / 3 / 3; }
      .div3_form { grid-area: 3 / 3 / 5 / 4; }
      .div4_form { grid-area: 3 / 2 / 5 / 3; }
      .div5_form {  grid-area: 2 / 1 / 4 / 2; }

        .flex-container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: normal;
            align-content: normal;
          }
          
          .flex-items:nth-child(1) {
            display: block;
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto;
            align-self: auto;
            order: 0;
          }
          
          .flex-items:nth-child(2) {
            display: block;
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto;
            align-self: auto;
            order: 0;
          }

          .done{
            text-decoration: line-through;
            opacity: 0.5;
          }
          .not_done{
            text-decoration: none;
            opacity: 1;
          }
          .done_description{
            text-decoration: line-through;
            opacity: 0.5;
          }
          .not_done_description{
            text-decoration: none;
            opacity: 1;
          }

.error_msg{
  position: absolute;
left: 0;
width: fit-content;
background-color: rgb(143, 142, 142);
  color: rgb(194, 52, 52);

}
.display_data{
  border-top:1px solid gray ;
  max-height: 50vh;
  overflow: scroll;
  padding: 20px;
  text-align: center;
}::-webkit-scrollbar {
  display: none;
}
.memo_title{
  border-bottom: 1px solid gray;
  margin-bottom: 20px;  
}

.task{
  border-bottom: 1px solid gray;
}
button{
  border: none;
  border-radius: 6px;
  font-weight: 600;
  padding: 4px;
  color: red;
}
.unCheck{
  padding: 4px;
border: 1px solid black;
  background-color: indianred;
}
.check{
  padding: 4px;
border: 1px solid blue;
  background-color: lavender;
}
input[type="checkbox"] {
  opacity: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}